[submodule "GitRepo/NBShaders"]
	path = GitRepo/NBShaders
url=git@github.com:xuanshushu/NBShaders.git
[submodule "GitRepo/XuanXuanRenderUtility"]
	path = GitRepo/XuanXuanRenderUtility
	url = https://github.com/xuanshushu/XuanXuanRenderUtility.git
	branch = main
[submodule "GitRepo/NBPostProcessing"]
	path = GitRepo/NBPostProcessing
	url = https://github.com/xuanshushu/NBPostProcessing.git
